@page "/products"
@inject IProductApiService ProductService
<h3>Products</h3>
@if(ProductModels is not null)
{ 
    @foreach(var product in ProductModels)
    { 
        <p>@product</p>
    }
}
@code {
    private string errorMessage;
    private string message;
    public IEnumerable<ProductModel> ProductModels { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts()
    {
        errorMessage = null;
        ProductModels = null;
        var result = await ProductService.GetAllAsync();
        if (result.IsSuccess)
        {
            ProductModels = result.Data;
        }
        else
        {
            //display errors
            errorMessage = string.Join(' ', result.Errors);
        }
    }
}
